{% extends 'base.html.twig' %}


{% block title %} {{ content.title }} {% endblock %}

{% block body %}
<h1>{{ content.title }}</h1>
<p>{{ content.description }}</p>
<p>{{ content.type.name }}</p>
{% endblock %}