{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!{% endblock %}

{% block body %}
<h1>{{ content.title }}</h1>
<p>{{ content.description }}</p>
<p>{{ content.type }}</p>
{% endblock %}
